<div class="container-fluid">
  <div class="container-fluid">
    <div class="jumbotron">
      <h2 class="display-10 mx-auto text-center">Log In</h2>
    </div>
  </div>

  <div class="container mt-5 backdrop">
    <form class="container" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="container">
        <div class="input-group mb-3">
          <span class="input-group-text">Email address</span>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="email"
            placeholder="You@Email.com"
          />
        </div>

        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
      </div>
      <div class="container">
        <div class="input-group mb-3">
          <span class="input-group-text" for="exampleInputPassword1"
            >Password</span
          >
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="password"
            placeholder="123456789"
          />
        </div>
      </div>
      <div class="container">
        <a href="/register">Not registered?</a>
      </div>
      <div class="container">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn btn-danger m-3" type="button" routerLink="/">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
