<main class="container-fluid">
  <div class="row">
    <div class="container">
      <div class="jumbotron">
        <h2 class="display-10 mx-auto text-center">Welcome to Web-Botniks</h2>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Welcome</h5>
        <p class="card-text">
          Welcome to Web-Botniks
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card bg-dark text-white gap-2" style="width: 18rem">
          <i class="fas fa-sign-in-alt fa-10x mx-auto"></i>
          <div class="card-body">
            <h5 class="card-title">Login</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/login" class="btn btn-primary">Login</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card bg-dark text-white gap-2" style="width: 18rem">
          <br>
          <i class="fas fa-exclamation fa-10x mx-auto"></i>
          <div class="card-body">
            <h5 class="card-title">Create Incident</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="/create-incident"
              ><button class="btn btn-primary">File an Incident</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
