<main class="container">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4 mx-auto text-center">Register to our Site</h1>
    </div>
  </div>
  <form
    action=""
    class="form-group col-lg-12 mx-auto bg-gradient p-5 rounded"
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
    validation
  >
    <div class="input-group mb-3">
      <span class="input-group-text">UserName</span>
      <input
        type="text"
        class="form-control"
        placeholder="Username"
        aria-label="Username"
        formControlName="username"
      />
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">First Name</span>
      <input
        type="text"
        class="form-control"
        formControlName="Fname"
        placeholder="First Name"
        aria-label="First Name"
        aria-describedby="basic-addon1"
      />

      <span class="input-group-text" id="basic-addon2">Last Name</span>
      <input
        type="text"
        class="form-control"
        formControlName="Lname"
        placeholder="Last Name"
        aria-label="Last Name"
        aria-describedby="basic-addon2"
      />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Email</span>
      <input
        type="text"
        class="form-control"
        formControlName="Email"
        placeholder="Email"
        aria-label="Email"
        aria-describedby="basic-addon2"
      />

      <span class="input-group-text" id="basic-addon3">Phone Number</span>
      <input
        type="tel"
        class="form-control"
        id="Phone Number"
        formControlName="Number"
        placeholder="Phone Number"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">User Type</span>
      <input
        type="text"
        class="form-control"
        id="UserType"
        formControlName="Type"
        placeholder="Client Helper / Investigator"
      />
    </div>

    <div class="container mx-auto">
      <button class="btn btn-primary m-3" value="Submit">Submit</button>

      <button class="btn btn-primary m-3" value="Clear">Clear</button>
    </div>
  </form>
</main>
