<main class="container">
  <div class="container">
    <div class="backdrop">
      <div class="jumbotron">
        <h1 class="display-10 mx-auto text-center">Register to our Site</h1>
      </div>
    </div>

    <form
      action=""
      class="form-group col-lg-12 mx-auto bg-gradient rounded backdrop"
      [formGroup]="userForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="row justify-content-evenly">
        <div class="col-md">
          <div class="input-group mb-3" NgModel="edituser">
            <span class="input-group-text">UserName</span>

            <input
              value=""
              type="text"
              class="form-control"
              placeholder="UserName"
              aria-label="username"
              formControlName="username"
              required
            />
          </div>
          <div
            class="container alert alert-danger"
            *ngIf="
              userForm.controls['username'].invalid &&
              userForm.controls['username'].touched
            "
          >
            <span class="text-danger"> Username is Required </span>
          </div>
        </div>
        <div class="col-md">
          <div class="input-group mb-3">
            <span class="input-group-text">Password</span>

            <input
              type="password"
              class="form-control"
              id="Password"
              formControlName="Password"
              placeholder="Password"
              required
            />
          </div>
          <div
            class="container alert alert-danger"
            *ngIf="
              userForm.controls['Password'].invalid &&
              userForm.controls['Password'].touched
            "
          >
            <span class="text-danger"> Password is Required </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-evenly">
        <div class="col-md">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">First Name</span>

            <input
              type="text"
              class="form-control"
              formControlName="firstName"
              placeholder="First Name"
              aria-label="First Name"
              aria-describedby="basic-addon1"
              required
            />
          </div>
          <div
            class="container alert alert-danger"
            *ngIf="
              userForm.controls['firstName'].invalid &&
              userForm.controls['firstName'].touched
            "
          >
            <span class="text-danger"> First Name is Required </span>
          </div>
        </div>
        <div class="col-md">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Last Name</span>
            <input
              type="text"
              class="form-control"
              formControlName="lastName"
              placeholder="Last Name"
              aria-label="Last Name"
              aria-describedby="basic-addon2"
              required
            />
          </div>
          <div
            class="container alert alert-danger"
            *ngIf="
              userForm.controls['lastName'].invalid &&
              userForm.controls['lastName'].touched
            "
          >
            <span class="text-danger"> LastName is Required </span>
          </div>
        </div>
      </div>
      <div class="row justify-content-evenly">
        <div class="col-md">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon2">Email</span>
            <input
              type="email"
              class="form-control"
              formControlName="email"
              placeholder="Email"
              aria-label="Email"
              aria-describedby="basic-addon2"
              ngModel
              [email]="true"
              required
            />
          </div>
          <div
            class="container alert alert-danger"
            *ngIf="
              userForm.controls['email'].invalid &&
              userForm.controls['email'].touched
            "
          >
            <span class="text-danger"> Email Id is Required </span>
          </div>
        </div>
        <div class="col-md">
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Display Name</span>
            <input
              type="text"
              class="form-control"
              id="displayName"
              formControlName="displayName"
              placeholder="Display Name"
              aria-describedby="basic-addon3"
              required
            />
          </div>
          <div
            class="container alert alert-danger"
            *ngIf="
              userForm.controls['displayName'].invalid &&
              userForm.controls['displayName'].touched
            "
          >
            <span class="text-danger"> Display Name is Required </span>
          </div>
        </div>
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text">User Type</span>
        <input
          type="text"
          class="form-control"
          id="userType"
          formControlName="userType"
          placeholder="Client Helper / Investigator"
          required
        />
      </div>
      <div
        class="container alert alert-danger"
        *ngIf="
          userForm.controls['userType'].invalid &&
          userForm.controls['userType'].touched
        "
      >
        <span class="text-danger"> User Type is Required </span>
      </div>
      <div
        class="btn-group d-flex justify-content-end"
        role="group"
        aria-label="Basic mixed styles example"
      >
        <button class="button btn btn-primary m-3" type="submit">Submit</button>
        <button class="btn btn-warning m-3" type="reset">Clear</button>
        <button class="btn btn-danger m-3" type="button" routerLink="/">
          Cancel
        </button>
      </div>
    </form>
  </div>

  <ng-template #loading> Loading User... </ng-template>
</main>

<script>
  (function () {
    window.addEventListener("load", function () {});
  });
</script>
