.jumbotron {
  background-color: blanchedalmond;
}

body {
  padding-bottom: 70px;
  background-color: #e0e0e4;
}

.form-container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

main {
  max-width: 70%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.align {
  text-align: center;
}

.backdrop {
  background-color: rgb(218, 237, 253);
  padding: 2em;

  margin: auto;
}

.form_backdrop {
  background-color: aliceblue;
  padding: 2em;
  max-width: 60%;
  margin: auto;
}

.center {
  margin: auto;
}
